[2020-01-12 15:44] CybrZr00 opened #1 "[Feature Request] Canonical Links"
Would it be possible, in a future release to add a ByLink() function so we are able to set the canonical address of each page?

e.g:

Thank you!

[2020-01-16 09:30] jsakamoto commented on #1
Thank you for your nice feature request!

This feature also helps change favicon dynamically.

I'll try to implement this feature.

[2020-01-18 11:24] jsakamoto commented on #1
I published Blazor Head Element Helper ver.1.1.0.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/

And, it supports manipulation of "link" elements.
Please see also [section C. of README](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement#c-change-link-elements).

Please try it out! ;)

[2020-01-18 11:33] CybrZr00 commented on #1
Wow, that's excellent! I'll give it a try later. Thank you!

[2020-01-18 12:56] CybrZr00 commented on #1
The feature works perfectly, and it even looks like you can add CSS dynamically as well, which of course means we can break up our style sheets, which means faster initial paint on the index!

[2020-01-18 12:56] #1 closed

[2020-04-15 09:19] gaffkins opened #2 "[Bug] Problem with polish chars eg. ą,ś,ć,ę"
Hi, thank you for the great lib.
When I create Title with for example polish chars eg. ą,ś,ć,ę - title render blank

<Title>Darmowe zdjecia</Title> works correct
but
<Title>Darmowe zdjęcia</Title> render <title></title> in html

With Meta everything works ok.

Best regards.

[2020-04-16 04:37] jsakamoto commented on #2
Thank you for your report!

I fixed this problem just now.

Could you try to "Blazor Head Element Helper" **ver.1.1.1**?

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/1.1.1

[2020-04-16 05:23] gaffkins commented on #2
Thank you so much.
It works very well.
Best!

[2020-04-16 05:23] #2 closed

[2020-05-19 17:59] mysteryx93 opened #3 "Change Html Lang tag"
Another tag that would be useful to change is

    <html lang="en">

[2020-05-21 00:18] emiliovmq opened #4 "It is possible to create http-equiv metas?"
It is possible to create http-equiv metas? like, for instance:

`<meta http-equiv="refresh" content="3;url=https://www.mozilla.org">`
or
`<meta charset="utf-8">`

Thanks

[2020-05-29 14:26] jsakamoto commented on #4
@emiliovmq

I published `<meta http-equiv />` supported version just now.

- https://www.nuget.org/packages?q=Toolbelt.Blazor.HeadElement

Those are Beta release at this time, but I'll make it as official release when I get confident.

Thank you for your pull request, @pacas00 !

[2020-05-31 06:19] jsakamoto commented on #3
@mysteryx93

In my opinion, it is not a good idea to support the change `lang` tag by this component/library.

If I implement this case, I will implement it on standard ASP.NET Core server-side technologies, such as Razor pages (ex. `_Host.cshtml`)

Why do you think that you need to change `lang` tag by this component/library?

[2020-06-04 11:35] jsakamoto commented on #4
@emiliovmq @pacas00

Today, I published the latest official release version.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/1.2.0

Thanks for all!

[2020-06-04 11:35] #4 closed

[2020-06-09 15:05] mysteryx93 commented on #3
If I have pages in different languages on the website, how can the page tell the _Host its language?

[2020-06-12 13:51] jsakamoto commented on #3
@mysteryx93

It is not a Blazor matter. It is a general topic of ASP.NET Razor Pages programming.

The "lang" attribute in the "html" tag is important for only the server-side rendering scenario.
Changing the "lang" attribute at the client-side is no make sense.

Anyway, I wrote and published a sample code.

Please visit https://github.com/sample-by-jsakamoto/ASPNETCore-RazorPages-RenderLangAttrib

[2020-06-30 07:25] vd3d opened #6 "Cannot process pending renders after the renderer has been disposed."
Hi,

I got an error : **Cannot process pending renders after the renderer has been disposed**.

It is when I start the application.

I noticed that if I only use the "Title" tag, it works.

### Stack trace

   at Microsoft.AspNetCore.Components.RenderTree.Renderer.ProcessPendingRender()
   at Microsoft.AspNetCore.Components.RenderTree.Renderer.AddToRenderQueue(Int32 componentId, RenderFragment ren

[2020-06-30 10:46] vd3d commented on #6
It is because of the data-app="true" !

[2020-07-01 13:37] jsakamoto commented on #6
@vd3d Could you tell me why you need to add the attribute "data-app=true" into the "meta" tag?

Adding support to accept any attributes is very hard work because this is NOT a simple Blazor component but to save, transfer, and restore complex information between server and clients.

Therefore, I want to know how important adding support to accept the attribute "data-app=true".

[2020-08-20 21:03] EstebanAdao opened #7 "CSS in the head is being called twice"
Hi jsakamoto!

I'm using the server side prerendering for my site  Blazor Server App.

Everything works Ok until I do the following, let me explain the situation

The error happens when I update the page in the browser, then I go to the next screen and the title and description change ok  but it also reloads the css again and the css route changes.

For example:
the route of my css is www.siteBlaz

[2020-08-20 22:28] jsakamoto commented on #7
Thank you for your report.

Could you attach a sample project that can reproduce the problem to this thread?

[2020-08-24 09:58] BenjaminCharlton opened #8 "Is there any solution to changing the CSS class of the <body> element?"
Hi jsakamoto!

Thank you for this excellent nuget package.
I realize that your package is designed for manipulating the <head> element but I would like the ability to manipulate the <body> element and I guess your code is very close already. Would you consider extending the functionality of this package to support attributes on the <body> tag? Or maybe you have another package available that can d

[2020-08-24 11:34] jsakamoto commented on #8
Thank you for your proposal!
I'm not sure that the library for Blazor that manipulating CSS class names and attributes of the `<body>` already exists.

Anyway, It is very interesting for me, and it can be a very useful library.

But unfortunately, the implementation of the library that manipulating the `<body>` element isn't so similar to this library, unexpectedly.

Of course, to implement the li

[2020-08-24 12:10] BenjaminCharlton commented on #8
Ok, jsakamoto, thank you for your fast response. I appreciate it.
Benjamin

[2020-09-07 12:04] SteveSandersonMS opened #9 ".NET 5.0 support"
Starting with .NET 5 RC1, there's a binary-breaking change in `RenderTreeFrame` that will affect this library because of how it uses the internal `RenderTreeFrame` APIs. For this library to work with .NET 5 RC1 and later, you'll need to recompile. And because you're using the `Microsoft.AspNetCore.Components.RenderTree.*` APIs directly you'll have to multitarget `netstandard2.0` and `net5.0` if yo

[2020-09-07 13:23] jsakamoto commented on #9
@SteveSandersonMS Thank you for your reporting!

And, I appreciate your very kind comment. 👍

Because of your comment in this thread, I could reproduce the problem, and I could fix it at commit 090df430 in the `net5.0` branch in this repository.

Finally, I published the latest fixed version of the `HeadElement` NuGet package.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/5.0.0-rc.

[2020-09-07 13:38] SteveSandersonMS commented on #9
Also thanks to you @jsakamoto for producing this package!

[2020-11-05 08:58] Foizman opened #10 "SEO"
Hi there,

are there any findings as to how Blazor Server in general and this solution in particular behave with regard to search engine optimization?

Are the bots able to crawl such SPA-pages and index all of them?

[2020-11-05 11:00] jsakamoto commented on #10
Maybe, yes they are.

You can inspect the real sample site of a Blazor Server app that URL below.

https://demo-blazor-headelement.azurewebsites.net/

For example, the results of a Google search includes the contents of the sample site above.

https://www.google.com/search?q=Seattle+tour+Blazor+Space+Needle

[2020-11-05 11:09] Foizman commented on #10
So with Azure SignalR we can handle large visitor counts an our Blazor-Website.
And with your component we fully can establish a SEO-friendly website that will be crawled correctly even it is a SPA.

Seems to open up a new world on the web.
Cool to know, thank you!

[2020-12-05 00:46] TheLazyLemur opened #11 "Using Blazor Static Rendering Does Not Work"
Dotnet core 5
Blazor Server

When I use Blazor Static Rendering with this library, certain parts of my HTML break, Namely the ```<pre>``` and ```<code>``` tags, if I try to change the title while statically rendering with Blazor these tags behave very strangely.

Switching to Server Prerender Does however work.

If i simple remove the call to the library weather that be as a service or components,

[2020-12-05 10:44] jsakamoto commented on #11
@TheLazyLemur Could you attach a sample project that can reproduce the problem to this thread?

[2020-12-05 10:59] TheLazyLemur commented on #11
@jsakamoto Sure no poblem here you go. It has two pages one where the title of being edited and the other not. You'll see the problem. Thanks for getting back to me
[RenderingError.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/5646919/RenderingError.zip)

[2020-12-05 12:11] jsakamoto commented on #11
@TheLazyLemur I fixed this issue, and published the new version of the library.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement.ServerPrerendering/1.2.3

Please try it out.

Thank you for reporting! 👍

[2020-12-05 21:04] TheLazyLemur commented on #11
Seems to have worked perfectly. Thanks for the quick help and for making such a useful package.

[2020-12-05 21:04] #11 closed

[2021-01-06 17:02] CobraCalle opened #12 "as-attribute on link-elements"
Hello,

I would like to create different preloadings based on the active page. But I cannot set the as-attibute on a LinkElement... would it be possible to extend this?

Thank you very much

[2021-01-09 11:31] jsakamoto commented on #12
Thank you for the nice feature proposal!

I published a new version of "Blazor Head Element" packages those support "as" attribute of the "link" element.

- https://www.nuget.org/packages?q=Toolbelt.Blazor.HeadElement

Could you try it out?
Thanks!

[2021-01-09 11:31] #9 closed

[2021-01-09 11:33] #10 closed

[2021-01-13 17:56] AradAral opened #13 "Provide the ability to set a fixed suffix/prefix for the title"
It happens fairly often where you want the titles across all the pages in your website to have a fixed pattern.
For instance, no matter what page you're on in Stack Overflow, the title always ends with " - Stack Overflow".

It would be nice if this library would provide such a feature, it makes it further superior to the built-in Title component.

I propose such a property would be added to `HeadE

[2021-01-14 08:30] CobraCalle commented on #12
Works like a charm... perfect. Thank you very much

[2021-01-14 08:30] #12 closed

[2021-01-15 13:23] jsakamoto commented on #13
@AradAral

Thank you for your interesting proposal!

However, what you want to do can be implemented without changing this library easily, I think.

I wrote a sample code (Please see the following URL).

- https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/commit/bcf1616a84a3cafb9ca58ee2f010a14ed3c8edef

Of course, this proposal is very interesting.
I can implement the feature that you sugge

[2021-01-15 13:34] AradAral commented on #13
@jsakamoto Hi! Thanks for your response.
I get your point, and you're right, I like the way you demonstrated how it can be done by the developer, so I guess I'll probably do it that way. Thank you.
Feel free to close this issue if you decide that this is better not implemented as part of the library.
Have a great day!

[2021-01-16 18:02] TheShrug opened #14 "Head elements output in random order"
First off, thank you for this!

In troubleshooting some meta properties I noticed that they are rendered to the DOM in at least a semi-random order. Is there perhaps an option that I'm missing to output the order of elements in the order that they are declared in my razor pages?

If this isn't part of the feature-set and _it is_ possible to do this, I would be glad to submit a pull request for it!

[2021-01-17 11:48] jsakamoto commented on #14
Thank you for posting.
Yes, this library renders meta/link elements as semi-random order.
And this library doesn't provide a way to control the ordering of those elements.

This is one of the weak points of this library.
I have been interested in this problem that how to resolve this issue since I produce this library.
But I have never coming up with a cool idea to resolve this issue yet.

This pr

[2021-01-29 08:22] Bubinga opened #15 "Title breaks on URI Fragment "domain.com/test#foo""
Upon page load with the following code, the page is correctly rendered as having the title "Test Title". However, when the user clicks on the link, that title disappears and, in this case, is replaced by the default title of the Blazor App. This code is on a brand new .Net 5 Blazor project with default settings. The issue appears in both Pre-Rendering and in Server Rendering.
[code]

[2021-01-30 02:40] jsakamoto commented on #15
Thank you for reporting!

I fixed this problem and released fixed version of this library.

- https://www.nuget.org/packages?q=headelement

Please check it out. 😃

[2021-01-30 03:03] Bubinga commented on #15
Thank you for the quick response and fix 👍

[2021-01-30 03:03] #15 closed

[2021-03-12 20:52] Tytrobot opened #16 "HeadElement working properly after updates on the week 03/12/2021 ?"
Hello,
I'm not sure if I am doing something wrong, but on a SEO check, my page descriptions stopped working.
This was working perfectly in my Blazor server side app.  It uses the Blazor.HeadElement code to take care of the tittle and the meta tags.   I also ran it on a newly created built in Microsoft code sample with the counter, and published it.  It seems to work the same with or without adding

[2021-03-13 02:14] jsakamoto commented on #16
This library should work fine in the environment that you told me about in this issue.

Could you tell me about more details what was happened?

For example,

- Was it no error but the page descriptions were not rendered as you expected? If that is so, could you tell me what was rendered as the page descriptions?
- Did it show an error message or returned an HTTP 500 Internal server error somethin

[2021-03-15 23:06] jsakamoto commented on #16
@Tytrobot
Sorry to late,

No errors that I could see.

Hum... it looks like the server-side pre-rendering feature doesn't work correctly.
Could you show me the source code of the `Startup.cs` of your web app?

[2021-03-16 12:13] jsakamoto commented on #16
@Tytrobot

Yes, especially to make it to be recognized by internet crawlers.

If you don't use the "HeadElementService - Server Pre-rendering", the "description" meta tag that you inject by marking up the "<Meta />" component (or by using the "IHeadElementService" service) has appeared after when the client-side part of the Blazor runtime's initial tasks are finished.

You can see that on a Web br

[2021-03-16 12:17] jsakamoto commented on #16
@Tytrobot

To enable the "HeadElementService - Server Pre-rendering", please see the following instructions.

- https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement#e-server-side-pre-rendering-support

[2021-03-17 09:14] jsakamoto commented on #16
I'm glad to resolve this issue. 😃

Happy coding!

[2021-03-17 09:14] #16 closed

[2021-06-27 18:35] doanhquang2005 opened #17 "ObjectDisposedException: Cannot access a closed Stream."
I use "Toolbelt.Blazor.HeadElement.ServerPrerendering" error:
An unhandled exception occurred while processing the request.
ObjectDisposedException: Cannot access a closed Stream.
System.IO.MemoryStream.Seek(long offset, SeekOrigin loc)

Stack Query Cookies Headers Routing
ObjectDisposedException: Cannot access a closed Stream.
System.IO.MemoryStream.Seek(long offset, SeekOrigin loc)
Toolbelt.Blaz

[2021-06-28 09:07] jsakamoto commented on #17
@doanhquang2005 Please tell me what your `Startup.cs` code is.

[2021-07-02 05:12] mysteryx93 opened #18 "Crashes on Linux .NET 5"
I had been using this library on .NET 3.1 on Ubuntu for a while, but after upgrading to .NET 5,0, I get this crash. Removing Toolbelt.Blazor.HeadElement from the project allows it to run. It also was running fine on my Windows development machine.

[code]

[2021-07-02 07:33] mysteryx93 commented on #18
Never mind, I forgot to copy/update "wwwroot/_content/Toolbelt.Blazor.HeadElement.Services" onto the web server, as those are only dynamically served in development. Now it's working.

[2021-07-02 07:33] #18 closed

[2021-07-02 12:08] jsakamoto commented on #17
@doanhquang2005 I could not reproduce your issue yet.
Could you attach all files of a sample project which can reproduce that issue as a single zip package to this thread?

[2021-07-06 12:57] Xeevis opened #19 "Unable to render title from within components with OnAfterRenderAsync"
Hello. I'm trying to create component that would display current page title. Problem is, it doesn't work when used with OnAfterRenderAsync, probably because it's fired before the title is set as any later call does work.

[code]
Perhaps event would be of help here? Something like

[code]
Thoughts?

[2021-07-07 03:52] jsakamoto commented on #19
@Xeevis Thank you for letting me know!

I could reproduce this problem.

I'm going to fix this issue as soon as possible.

Please give me a few days.

[2021-07-10 07:49] jsakamoto commented on #19
@Xeevis
I published the new fixed versions just now.

- [Head Element Helper - Service - v.1.5.3-preview.1](https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement.Services/1.5.3-preview.1)
- [Head Element Helper - Components - v.5.4.3-preview.1](https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/5.4.3-preview.1)
- [Head Element Helper - Server Prerendering - v.1.5.3-preview.1](https://

[2021-07-11 16:59] Xeevis commented on #19
@jsakamoto Thanks for the update, however not the problem I have, sorry if I haven't communicated it clearly. My problem is, that I'm trying to render title from a completely different component than the one setting it and that issue is still present for me. If `Title` component is declared on page `Counter.razor`, how to display current page title in say `Navbar.razor` which is child component of

[2021-07-11 23:18] jsakamoto commented on #19
@Xeevis
Why don't you place the only one `<Title>` component in the `Navbar.razor` if the `Navbar.razor` knows what the current page title should be?

Anyway, `OnAfterRenderAsync` and `OnAfterRenderAsync` are too late to affect the rendering result of server-side prerendering.
That is not a limitation of this library. That is by design and by the architecture of Blazor.

[2021-08-13 11:39] Alerinos opened #20 "Could not find 'Toolbelt.Head.Title.query' ('Toolbelt' was undefined)."
I have this problem, I'm using Core 6 preview Blazor server

[code]

[2021-08-13 12:13] Alerinos commented on #20
i fix it
[code]
I had to add it manually to the project, nuget refused to download this version for me.

The next problem is that I have a blank page, nothing renders. No html tag (empty in source)

Console log:
[code]

[code]

[code]

[2021-08-14 11:30] jsakamoto commented on #20
@Alerinos Thanks for reporting.

I tried to reproduce your problem on my hand, but unfortunately, I couldn't.

So to isolate the cause of the problem, could you try to comment out "app.UseHeadElementServerPrerendering()" and rerun it, and let me know if you still get an empty response?

Or, I welcome you to zip & attach the whole project that can reproduce the problem to this thread.

[2021-08-14 17:14] Alerinos commented on #20
At the moment of commenting, the page works, the content is rendered, but the title is not changed. The title is hidden in the source of the page. At the time of uncommenting, the site also works until I put <title>

My project is like a library, blazor server page is running by another project. It is also a migration from Razor Pages. Will try to create a new project and see if it works.

[2021-08-14 18:13] Alerinos commented on #20
Found a bug, add this:
[code]

[code]

[2021-08-14 18:18] Alerinos commented on #20
[BlazorToolbeltTest.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/6987006/BlazorToolbeltTest.zip)
There is one more error here, when you don't compress the title doesn't change dynamically.
The server renders well blazor no.

[2021-08-14 19:22] Alerinos opened #21 "Link support and title constant"
Hi, what do you think to do to support:
`<link rel ...> `or for `<style>`?
Quite often we need to load a specific style only for a specific subpage, so why load it when the user does not enter there?

Alternatively, you can also add <script> so that it loads in the footer, sometimes we want to quickly add a script or a ready-made library, e.g. "datatables"

Another idea is to add a constant variab

[2021-08-15 05:14] jsakamoto commented on #20
@Alerinos Thanks for your cooperation. 👍

I could reproduce the problem, and I could find the reason for the problem.

Currently your code is like this:

[code]

Could you try to change the code above to below?

[code]
The `UseHeadElementServerPrerendering()` feature rewrites the HTML text response to change a title, meta, and link elements.

But if the `UseResponseCompression()` is placed after t

[2021-08-15 13:54] Alerinos commented on #20
I did, and it only works for server rendering. Blazor has a rendering problem. The problem seems to me to be running it from another project. (See zip package above).
We have a "www" project + a "start" project

Another problem I see is when we do this:
[code]
The server takes a long time to render the content. The more tags, the longer the server response. Maybe a loop?

Use this and test the tim

[2021-08-15 23:25] jsakamoto commented on #20
@Alerinos

I could not reproduce the "the server takes a long time to render the content" problem on the [BlazorToolbelt.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/6987006/BlazorToolbeltTest.zip).

![image](https://user-images.githubusercontent.com/95908/129495660-89882a47-343e-4d6a-b7be-2fb2efec623d.png)

[code]

I have no idea at this time that this problem is caused by

[2021-08-15 23:59] Alerinos commented on #20
![image](https://user-images.githubusercontent.com/42449535/129496488-1fca711f-d94b-4d15-94ab-dabdbacd54cd.png)

I just did a test on "BlazorToolbelt.zip", I have no idea why I'm having such a long time. I am using Microsoft Edg. On Google Chrome it is 5.4 seconds. I also use Visual Studio 2022 windows 11. My CPU is ryzen 9 3900xt and the NVME disk so it shouldn't be a problem.

I just did a debug

[2021-08-16 00:18] Alerinos commented on #14
I think the first render should be from layout and the next from pages. Why so? Because we often load e.g. main.css and sometimes we want to fix the subpage, so to overwrite the changes, the css code must be loaded below the code from the layout.

[2021-08-16 00:44] jsakamoto commented on #21
Thank you for the proposal!

Maybe as already you know, manipulating "<link ...>" elements in a head element are supported by this library.
"<style>" elements are not supported but it can be alternated by "<link rel='stylesheet' href='...'/>".

Add support for adding "<script>" elements is hard work for me because it will cause numerous side effects.
So I have no plan to add support for adding "<s

[2021-08-16 01:00] #21 closed

[2021-08-28 00:39] Alerinos commented on #20
Hi, did you find the problem?
You need help? I can help, there are generally two mistakes.
The first one is the loading time increases, the second one does not work dynamically changing the text when we start a project from another project.

[2021-08-29 05:49] jsakamoto commented on #20
@Alerinos

Sorry too late.

I still can't reproduce this problem.
Could you build and run the project I attached to this post below and try to reproduce that problem in your environment?

[📂 BlazorToolbeltTest - Aug 29, 2021 - J.Sakamoto.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/7071984/BlazorToolbeltTest.-.Aug.29.2021.-.J.Sakamoto.zip)

If you can't reproduce that proble

[2021-08-30 23:07] Alerinos commented on #20
Thanks it works, I thought the main project didn't need to have this.

Could you build and run the project I attached to this post below and try to reproduce that problem in your environment?

Still the same problem, how can i help you? How can I take a memory or program dump?

[BlazorToolbeltTest.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/7080045/BlazorToolbeltTest.zip)
I

[2021-08-30 23:34] Alerinos commented on #20
There is another way to do this? Unfortunately my main project runs other projects (SignalR, RestAPI, Bot etc). After switching to Web, the console application does not work for me. :(

[2021-08-31 23:20] jsakamoto commented on #20
@Alerinos

Could you explain in more detail what happened?
Did an exception happen?
If so, what was that exception said?

There is nothing that I can do because the hint is only "doesn't work".
I don't have mind-reading skills.😅

By the way, is your project that includes this problem hosted in any Git repository cloud services like  GitHub?
If the answer is yes, can I join that repository even if

[2021-09-04 16:15] Tytrobot opened #22 "After update to 6.0.0 the tab text will not automatically update"
After update to 6.0.0 the tab text will not automatically update.
If I go to a new page, the tab text remains the same.
Hit refresh, and it changes.
I am also using the server prerendering.

It worked fine the day before the 6.0.0 update.  No other changes were made.

[2021-09-04 16:26] #22 closed

[2021-10-06 13:16] gironymo opened #23 "Add Meta Element without overwriting the existing one"
In some cases it would be nice to add the same meta tag multiple times eg the **og:image**

In my case: I want to display more images or create a carousel if the link is shared on facebook. For this it is necessary to add the same tag multiple times.

BR Markus

[2021-10-07 11:02] jsakamoto commented on #23
Thank you for your proposal.
I'll consider how to implement it.

But unfortunately, it will not be easy because of the architecture of this library.
So it will take a long time until implemented the multiple "og:image" feature.

By the way, .NET 6 now supports the `<HeadContent>` component.

See also: https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-7/#modify-html-head-c

[2021-11-21 21:06] EricBos opened #24 "Can only include one HrefLang tag (cannot implement recommended pattern)"
It is recommended to include the current language of a page in the hreflang as well as a link for each and every other language version of a page.

With the current implementation the Hreflang Link elements are overwriting itself.

I think it's because of the code below:

[code]

Shouldn't the HrefLang also be part of the link comparison?

[2021-11-23 06:38] jsakamoto commented on #24
@EricBos
Thank you for letting me know! 👍
Yes, you are right, I could not realize it until I received your issue post, but HrefLang had to be a part of the link comparison.

I'll fix the "Blazor Head Element Helper" libraries about this point in the near future.

[2021-11-24 11:02] EricBos commented on #24
Awesome! I'll wait for the release then

[2021-11-30 13:48] jsakamoto commented on #24
It took a long time, but I did it.
I published v.6.0.1 of these libraries on the nuget.org.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/6.0.1
- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement.Services/6.0.1
- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement.ServerPrerendering/6.0.1

Please try it out.

[2021-11-30 16:15] EricBos commented on #24
No complaints here regarding the speed!
Just upgraded my project and it seems to work!

#superhappy

Met vriendelijke groet,​
ing.
Eric
Bos
Partner | CTO
T:
+31 (0) 20 658 95 98<tel:+31%20(0)%2020%20658%2095%2098>
 |
M:
+31 (0)6 11 741 719<tel:+31%20(0)6%2011%20741%20719>
***@***.***
springrealestate.com<https://springrealestate.com/>
 |
LinkedIn<https://www.linkedin.com/company/spring-real-estate

[2021-11-30 17:42] #24 closed

[2021-11-30 17:42] EricBos commented on #24
Confirmed!

[2021-12-05 19:05] thepra opened #25 "Could not find 'Toolbelt.Head.Title.query' ('Toolbelt' was undefined) but on Blazor WASM and DisableClientScriptAutoInjection = true"
Hi, I saw the other issue which was about the server side type of project. Here I have a Blazor WASM project and I need offline functionality to work(so no dynamic loading of js).

How am I supposed to accomplish such setup?
As of now I tried with that option disabled and included
[code]
in the `index.html` but it doesn't seem to do the trick, what should I do to make it work properly?

[2021-12-05 19:49] thepra opened #26 "Should I reapply <Meta> tags on each page of the app?"
Currently I have a top layer component called `<CascadingState>` where I provide for common state for every part of the webapp, and there do reside all the `<Meta>` tags(so I don't need to repeat them for each page) that seem to work fine when a page is loaded with forceReload or it's customized within that same page, updating those tags values in real time.

But the common navigation seem to rese

[2021-12-07 09:56] jsakamoto commented on #25
@thepra Thank you for reporting!

I'll consider the offline scenario what you said.

By the way, I can not work on this issue right now, so I would appreciate it if you waited for my work to be finished.

[2021-12-07 10:07] jsakamoto commented on #26
@thepra Thank you for the feedback!

Honestly, I'd never considered this scenario that you said.
But anyway, I've been started to be interested in supporting this scenario and resolving this issue.

By the way, I can not work on this issue right now, unfortunately.
Because I already have some unresolved feedbacks in my repositories even though now is the Christmas holiday season!
So I would apprec

[2021-12-15 12:21] jsakamoto commented on #25
@thepra Thank you for waiting.

Today, I published the new version of "Toolbelt.Blazor.HeadElement" NuGet package.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/6.0.2

I improved offline support at this version, so this package version should fix your issue.
Could you try it out?

[2022-01-22 19:28] enusbaum opened #27 "System.ObjectDisposedException showing up in Production Logs"
I'm seeing the following error show up in my Logs.

I'm unable to replicate it manually but I'm seeing it on my production site. The best I can guess, it's a timing issue where the client has navigated away from the page while `OnParameterSetAsync()` is still executing. I suspect this might be caused by a crawler bot quickly navigating the links on the site?

This is Blazor Server running on .NET

[2022-01-23 04:32] jsakamoto commented on #27
@enusbaum Thanks for reporting!

I fixed this issue and published the new versions of these packages.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/7.0.0

We can not avoid client disconnection while asynchronous processing, so I decided to treat this situation gracefully without any crashes.

Please check it out.  😄

[2022-01-24 13:24] enusbaum commented on #27
Thanks! I can confirm after installing 7.0.0 I haven't seen the exception in my error logs in production.

I sincerely appreciate your maintaining this package as well as your swift response. Cheers! 🍻

[2022-01-24 13:24] #27 closed

[2022-02-06 15:03] #19 closed

[2022-02-11 13:55] thepra commented on #25
yep, with that option disabling client injection and putting the explicit link to the script in the index.html everything seems to work fine now :)

Last piece could be to add such documentation of this feature so people can understand what to do to accomplish offline caching from the beginning

[2022-02-12 06:19] jsakamoto commented on #25
@thepra  Thank you for replying.
I agree that I should improve the document.
And I'd like to do that as soon as possible.

By the way, in my test case, Blazor WebAssembly apps with PWA manifest and service worker scripts that use this library worked fine on offline mode even though the `DisableClientScriptAutoInjection` option is not set to `true`.
(I implemented some extra code explicitly to supp

[2022-02-27 14:33] fingers10 opened #28 "[Feature Request] Options to supply Type in Link Element"
@jsakamoto, Many thanks for the wonderful package. This works awesome solving many problems.

I'm trying `<Link>` element and I'm not able to specify `type="application/xml"` for it.

Example,

`<Link Rel="sitemap" Href="@($"{BaseUrl}sitemap.xml")" type="application/xml" />`

This throws script error.

Please can you add an option to supply `Type` to `Link` Element?

[2022-03-11 15:15] thepra opened #29 "[Feature Request] Discriminate <Meta> overrides base on other arguments too"
As of now it does seem that the `Name` property is the only one being used for search and override so if you have some other extra argument distinguising the `<meta>`s it does only override the first match by `Name`, ex.:

	<meta name="theme-color" media="(prefers-color-scheme: light)" content="hsl(25,84%,88%)">
	<meta name="background-color" media="(prefers-color-scheme: light)" content="hsl(25,8

[2022-03-28 23:59] jsakamoto commented on #29
@thepra

I published the new version of the Blazor Head Element Helper NuGet packages v.7.1.0.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/7.1.0

This version has supported a `media` attribute in `meta` elements and identifies them by whether both of `name` and `media` attributes are the same inter `meta` each element.

Could you try it out?

[2022-04-01 15:33] thepra commented on #29
sure

[2022-04-11 02:04] fingers10 opened #30 "[Bug] 7.1.0 - <meta> content attribute value becomes empty and gets replaced by media attribute which gives unexpected results in browser"
After upgrading to 7.1.0, `content` attribute of normal `<meta>` element in `index.html` gets replaced by `media` attribute and the `content` attribute value becomes empty in `blazor wasm` apps and this produces unexpected results in browser.

Example,

This,

[code]

Becomes,

[code]

This breaks the responsiveness of the site.

All the `<meta>` tags in `index.html` gets affected.

**`<meta>` tag

[2022-04-11 13:18] jsakamoto commented on #30
@fingers10
Thank you for reporting!

However, unfortunately, I was not able to reproduce the problem that you reported even though I spent a lot of hours. 😥

This problem looks not so obvious.

Could you tell me more details about your project, such as the target framework version (Core3.1, 5.0, 6.0, etc.), runtime type (Blazor server or Blazor WebAssembly), and your app is PWA or not, etc.

Of co

[2022-04-12 12:52] jsakamoto commented on #30
@fingers10
Thank you for providing the URL of your repository to reproduce the problem.

However, unexpectedly, that project worked well in my local environment.

![image](https://user-images.githubusercontent.com/95908/162966508-ccdbd352-ba6c-42e7-9e99-a5ced4282d22.png)

So I have a question.

In your environment, in the "Service Workers" section of the "Application" tab, of the browser's develop

[2022-04-12 13:35] fingers10 commented on #30
@jsakamoto did you publish the project and running it from iis?

[2022-04-12 13:38] jsakamoto commented on #30
@jsakamoto

I did the `dotnet publish -c:Release` command, and serve the published contents files by using `dotnet serve` global tool like this:

[code]

I did not make it run on IIS.

[2022-04-12 17:51] fingers10 commented on #30
@jsakamoto ,

Many thanks for your time and response, Here are the response to previous questions.

I have no service workers registered.

![image](https://user-images.githubusercontent.com/43729469/163022898-f9d49e9c-b165-44a2-ae6b-e1d8c7407883.png)

Disabled cache and did a hard reload

![image](https://user-images.githubusercontent.com/43729469/163023043-3ad3edb8-b6b0-4ecc-aa18-c82fd3c755eb.png

[2022-04-12 23:39] jsakamoto commented on #30
@fingers10 Thanks for the excellent reporting!

Due to your contribution, I found a critical bug in this library!

Could you try out the latest version?

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/7.1.1

[2022-04-13 00:52] fingers10 commented on #30
@jsakamoto that works. many thanks for your time and efforts to look on to this.

This is optional - I would be more happy if you could write a recommendation to me on linkedin if you find my contributions are worthy.

[2022-04-20 12:19] #30 closed

[2022-04-30 11:07] thepra opened #31 "Changelogs not found"
Hi, I was just wondering if you have any place where I could look up the changelog of each new release of the library, there's such place?
Otherwise I just wonder what was done behind the scenes when I upgrade such library.

[2022-05-03 12:39] jsakamoto commented on #31
@thepra Sorry for the late reply!

Actually, there are release notes for each NuGet package about the "Blazor Head Element".
Please see the following links.

- **Absctractions** - https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/blob/master/Abstractions/RELEASE-NOTES.txt
- **Services** - https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/blob/master/Services/RELEASE-NOTES.txt
- **Com

[2022-05-12 09:20] #31 closed

[2022-05-31 20:40] thepra commented on #29
I'm having an issue, it doesn't seem to work, when specifying `Media` in the `Meta` component it does render everything except `media:...`
![immagine](https://user-images.githubusercontent.com/7032509/171188214-9adc1da9-16f1-47cf-a6fc-a6bc0107e7d4.png)

And it does seem also that it doesn't override correctly because there's a copy left above of the same initial meta tags(from `index.html`)

[2022-06-01 13:18] jsakamoto commented on #29
@thepra  I've not reproduced that problem yet.

Can you reproduce the problem on my sample app I attached below?

[📦BlazorServerApp1.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/8814387/BlazorServerApp1.zip)

[2022-06-03 14:26] thepra commented on #29
ok, nevermind, it does seem to be an issue with Firefox in the end. I did already report the issue there and it's being worked on.

[2022-07-15 21:36] ceir opened #32 "Allowing multiple og:image elements"
Defining multiple <head> tags with the same keys can be useful. In the case of "og:image" Facebook sharing (and prehaps other SEO parsers) will take all the elements and attach all the images to the post.

Currently a code like this:

[code]

Will leave the header with only a single <Meta property="og:image"/>  - using just the value from the latest declaration (in this case with value "https://im

[2022-07-16 11:43] jsakamoto commented on #32
@ceir Thank you for your proposal!
Well, your proposal makes sense, so I'll try to implement the ability to allow multiple tags with duplicate keys.
However, it must not be easy on the current architecture of this library. It has to make big changes to this library to realize it. It must take a long time. Moreover, I can not spend much time maintaining this library because this is my weekend hobby

[2022-09-06 23:13] wisniewskit opened #33 "Consider falling back on setAttribute when HTMLMetaElement.prototype.media doesn't exist"
Hello from the web compatiblity team at Mozilla, and thank you for your hard work! While diagnosing [this webcompat.com report](https://github.com/webcompat/web-bugs/issues/105186), I noticed that in issue #30, code was added to check meta elements' `media` property, which [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=1706179) does not yet support.

I was wondering if you would be willing

[2022-09-08 20:10] wisniewskit commented on #33
Thank you so much! Funny enough, because we ran across this, Firefox should support the media property [as of version 106](https://bugzilla.mozilla.org/show_bug.cgi?id=1706179) as well, but this will help the ESR versions of Firefox, as might also help other older browser versions.

I don't have a dev environment set up right now to test the package, but I've pinged @thepra here and on the webcomp

[2022-09-29 15:39] Alerinos opened #34 "Performance issue"
Hi, I noticed that with more meta tags it creates a performance issue and high latency.

I created my own provider:
[code]
Then I unleashed it:
[code]

Unfortunately, with such a large number of tags, the page loading time jumped from 0.3 seconds to 1.6 seconds.
After turning off the library, the page loads in 0.3 seconds.

I count my time in generating HTML dom.

Now it runs tests on the network.

[2022-09-29 15:49] Alerinos commented on #34
[code]
When using tags, it gets even worse.
![image](https://user-images.githubusercontent.com/42449535/193078389-37bbe025-b601-45e1-a6f5-1bfafdc1c22c.png)

Without the use of tags:
![image](https://user-images.githubusercontent.com/42449535/193078553-fead4016-4401-48ab-9941-333cc25cb650.png)

[2022-09-30 01:37] Alerinos commented on #34
@jsakamoto
I opened your project
![image](https://user-images.githubusercontent.com/42449535/193170689-c51d1af5-b9ab-4614-8b89-f948c934442b.png)

Visual Studio 17.4.0 Preview 2.0
Windows 11
AMD Ryzen 9 3900XT 12 core 4,10 GHz
DDR4 32 GB 3200Mhz
Drive Samsung 980 pro Read 7000 MB/s
A very strange case

[code]

Result after deleting:
![image](https://user-images.githubusercontent.com/42449535/193170

[2022-09-30 01:40] Alerinos commented on #34
![image](https://user-images.githubusercontent.com/42449535/193171622-efa4c09a-41c6-470f-96b6-80a9edc9c0f6.png)
Very strange case, I just "published" the project standalone on windows x64.
This is the page loading time.

[2022-09-30 23:44] jsakamoto commented on #34
@Alerinos
Does that mean that slow behavior wouldn't happen on the published application? Yeah, that is strange. I have some questions.

- How did you run the app when that slow behavior occurred? Which did you start the app with debugging or without debugging on Visual Studio?
- If you run it by the "dotnet run" command in the app, how long will it take the first HTML document to load? Will the s

[2022-10-02 22:45] Alerinos commented on #34
@jsakamoto

Debug Any CPU

The first page loading takes a very long time, then it is faster but nevertheless it is long.

This is the first time I have seen such an example.
Usually, the debug mode lowers the speed of the website by 20-30%, unfortunately in this case it is several times more

[2022-10-04 20:01] Alerinos opened #35 "<Link> creates forece reload"
Using this method causes a heavy reload of the page:
[code]

The problem is described here:
https://github.com/dotnet/aspnetcore/issues/15317

What's the problem?
In the case of server side rendering, blazor loads the page content and then the async elements are reloaded.
This gives us the effect of double page loading.

Only Link has a problem, meta tags work well.

Demo:
https://gyazo.com/b36e3e

[2022-10-04 23:50] jsakamoto commented on #35
@Alerinos
Thank you for reporting!

Unfortunately, I could not reproduce the force reloading that you said yet.

My sample project is here:

[📦LinkCanonicalTest.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/9711529/LinkCanonicalTest.zip)

![image](https://user-images.githubusercontent.com/95908/193950498-8eb50171-afc0-499f-b55e-97aadb94179e.png)

Could you take a look at my s

[2022-10-05 01:04] Alerinos commented on #35
I tried to open an issue on the project you submitted. I failed to.
It looks like my project uses something that has a dependency on your library.
I will try to find a solution and a bug.
It is possible that the problem occurs with more data and tags in Head

[2022-10-06 14:00] HTTPThanhLuan opened #36 "Change Html base tag"
Is it possible to change html base tag?

` <base href="/" />`

The dev and production environment have different href value. I would like to change the value dynamically instead of manually.

[2022-10-07 02:22] jsakamoto commented on #34
@Alerinos Could you try the investigation steps below to capture the performance information and store it in a file on which part of the program was spending a lot of CPU time?

1. Install the "dotnet trace" command as the following.
[code]

2. Run the target program. For example, if the target program is the "PerformanceCheck" I attached before, execute the following command.
[code]

4. Get the p

[2022-10-07 12:45] jsakamoto commented on #36
@HTTPThanhLuan

Unfortunately, the duty of changing the HTML base tag is over the cover area of this library.

However, you can change the HTML base tag dynamically in various ways.

1. If your Blazor app is a Blazor Server app or an ASP.NET Core hosted Blazor WebAssembly app, you can change HTML base tag dynamically based on pre-rendering technic with the ASP.NET Core Razor Pages feature or ASP.N

[2022-10-23 02:25] fingers10 opened #37 "[Feature Request] Ability to inject script tag into head element?"
Current in `blazor wasm index.html` there is now way to get environment and load scripts based on environment. If we add a feature to this package to inject script into `head` tag, It will be awesome.

[2022-10-24 11:52] jsakamoto commented on #37
@fingers10 Actually, injecting `<script>` elements dynamically is a more complicated task than you might think.
Instead, would the following package help you?

- https://www.nuget.org/packages/Sitko.Blazor.ScriptInjector

[2022-10-24 12:30] Alerinos commented on #37
@fingers10  You can use this method as well.

[code]

[2022-10-24 12:33] Alerinos commented on #36
@HTTPThanhLuan You can use this method as well.

[code]

[2022-10-24 12:50] fingers10 commented on #37
@Alerinos does this approach adds the `script` tag to head element? I would like to just add an script tag with `src` pointing to cdn conditionally..

[2022-10-24 15:03] Alerinos commented on #37
@fingers10 Why can't you do this in _Layout?

[2022-10-24 15:08] Alerinos commented on #34
@jsakamoto Please take a look if I did right. Also forgive my absence, I had a lot of projects to close.
[PerformanceCheck.exe_20221024_170550.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/9852773/PerformanceCheck.exe_20221024_170550.zip)

[2022-10-24 15:12] Alerinos commented on #34
[PerformanceCheck.exe_20221024_171146.zip](https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement/files/9852810/PerformanceCheck.exe_20221024_171146.zip)
This is from the debug mode by visual studio.

[2022-10-24 15:34] fingers10 commented on #37
@Alerinos  do you mean `MainLayout.razor` in blazor wasm?

[2022-10-24 23:27] jsakamoto commented on #37
Hi @Alerinos , Thank you for helping us!

By the way, I guess that @fingers10 is talking about his website "https://ilovedotnet.org/" (The source code is [here](https://github.com/ILoveDotNet/ilovedotnet/)). And that website is hosted on GitHub Pages. The website is a Blazor WebAssembly app without ASP.NET Core hosting, so he might not be able to take a server-side strategy such as you suggested.

[2022-10-24 23:46] Alerinos commented on #37
I understand, in that case you have to write JS code and then execute it in blazor.

Example:
[code]

JS:
https://stackoverflow.com/questions/950087/how-do-i-include-a-javascript-file-in-another-javascript-file

[2022-10-25 23:35] jsakamoto commented on #34
@Alerinos
Thank you for capturing the performance data.
I spent a few hours to investigate the performance data but I could not figure out what is the reason of this performance issue so far.
I'll continue to try to resolve this issue.

[2022-10-27 13:27] jsakamoto commented on #34
Hi @Alerinos , I published the new version of the Blazor Head Element Helper today, as a preview version, ver.7.3.0-preview.1.

- https://www.nuget.org/packages/Toolbelt.Blazor.HeadElement/7.3.0-preview.1#release-body-tab

I don't have any confidence at all that the latest version can resolve your performance issue or not, but could you try the latest version on your project? I hope the commit 891

[2022-10-27 13:51] Alerinos commented on #34
with:
![image](https://user-images.githubusercontent.com/42449535/198301694-bd172094-3d79-416b-8319-a7fa75d15ba6.png)

without:
![image](https://user-images.githubusercontent.com/42449535/198302221-6b2820d6-4662-4629-b185-a96fa828c726.png)

@jsakamoto Looks like it helped, there is less time.

[2022-10-28 13:25] jsakamoto commented on #34
@Alerinos I'm happy to hear that!
At first, the "PerformaceCheck" project on your PC took **greater than 970 msec**, as you told me.
But after updating the package to the latest preview release, it took **only 116 msec**. It is **greater than 8 times faster**.

But I'm still wondering why there is such a speed difference between calling the Head element service (116 msec) and without it (43 msec).

[2022-11-09 23:28] Alerinos commented on #35
I am currently researching this issue. It still exists. This looks like a similar scenario that is in the documentation.
https://learn.microsoft.com/en-us/aspnet/core/blazor/components/lifecycle?view=aspnetcore-7.0

@jsakamoto  Can you look at the code again? Maybe you missed something. Thanks!

[2022-11-12 08:06] jsakamoto commented on #35
@drma-dev  Sorry too late since I was busy watching the .NET Conf 2022 that was held this week. (I live in Japan, so I had to wake up at midnight in the Japan Standard Time zone and keep staying up).

Ok, but I don't have the confidence to resolve this issue as far as I've gotten limited information below:

- The page is flushing. (Not reloading)
- It seems involve with the `<Link Rel="canonical"

[2022-11-18 13:14] scudderk opened #38 "[Feature Request]"
Currently the `Color` property is not supported, meaning that Safari pinned tabs are not supported:

`<Link Rel="mask-icon" Href="@($"/images/{clientName}/safari-pinned-tab.svg")" Color="#82aabb" />`

Is there anything that can be done? It is not a deal breaker, but would certainly be nice to have.

[2022-11-19 07:23] jsakamoto commented on #38
@scudderk  Thank you for the proposal! It seems a good idea for me, and I'll consider implementing it. But unfortunately, I'm so busy because the end of this year is coming closer (I have to write many blog articles every December for the "Advent Calendar" event). My task queue has already overflowed. I have already received other requests for my OSS libraries, and I'm still working on them. So it